@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Cookie&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200&family=Imbue:wght@200;300;400;500;600;700&family=Raleway&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
    .section__adventure::before {
        position: absolute;
        content: "Bo";
        right: 0px;
        font-size: 22vw;
        font-weight: 700;
        color: #000;
        z-index: -2;
        opacity: 0.04;
      }
      .section__adventure::after {
        position: absolute;
        content: "e";
        bottom: -33px;
        left: -55px;
        font-size: 22vw;
        font-weight: 700;
        color: #000;
        z-index: -2;
        opacity: 0.04;
      }
      .vedio__section::after{
        position: absolute;
        content: "Travel";
        top: -89px;
        left: 0px;
        font-size: 17vw;
        font-weight: 600;
        color: #000;
        z-index: -2;
        opacity: 0.04;
      }
      .mark::after{
        position: absolute;
        content: "Trav";
        top: -89px;
        right: -20px;
        font-size: 17vw;
        font-weight: 600;
        color: #000;
        z-index: -2;
        opacity: 0.04;
      }
      .section__mark::before{
        position: absolute;
        content: "og";
        top: -12.5rem;
        left: -75px;
        font-size: 23vw;
        font-weight: 600;
        color: #000;
        z-index: -2;
        opacity: 0.04;
      }
}
